.contentIGRImage {
    width: 100%;
    padding: 30px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%); */
}

.contentIGRImage img {
    width: 250px;
}